

body{
    margin: auto;
    
    border-radius: 334px;
    
    color: white;
    font-family: Inter, sans-serif;
    width: 360px;
    height: 4520px;
    background-color: #fff;

    
     

}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    
}

ul, ol{
    margin: 0;
    padding: 0;
}

a{
    color: innerit;
}

img{
    width: 100%;
}

.theme_yellow{
    background-color: #FEE42A;
    color: #131313;
    width: 400px;
    height: 1400px;
    
}

.theme-black{
    background-color: #000;
    color: #F5F5F5;
    
    

}

.theme-black{
    background-color:  #000;
    color: #F5F5F5;
    

}

.header{
    display: flex;
    justify-content: space-between;
    min-height: 46px;
    
    

}

.logo{
width: 78.45px;
height: 15.43px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin-top: 24px;
margin-bottom: 99.57px;
}

.menu_list{
display: flex;
flex-direction: column;
list-style: none; 
gap: 10px;
margin-top: 24px;
color: #F5F5F5;
border-bottom: solid;
border-bottom: solid;
}


.menu_list a{
text-decoration: none;

    

}

.cover{
height: 740px;
    
}

.c{
font-family: 'EB Garamond';
font-style: normal;
 font-weight: 400;
font-size: 72px;
line-height: 100%;

}

.ch{
font-family: 'EB Garamond';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 100%;
text-align: center;
}


.l{
    font-family: 'EB Garamond';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 100%;
/* identical to box height, or 72px */
text-align: right;
}

.treugolnik{
position: relative;
max-width: 350px;
max-height: 221px;
left: 4%;
top: -700px;
background-repeat: no-repeat;
background-position: center;

}

.onas{
    border-bottom: solid;
}

.article-list{
    list-style: none;


}

.article_title{
margin-top: 30px;
width: 203px;
height: 38px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */
/* text-gray */
color: #CCCCCC;
/* Inside auto layout */

order: 0;
flex-grow: 0;
}

.article_text_content{
width: 320px;
height: 281px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 135% */
color: #F5F5F5;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin-bottom: 24px;
}

.article_text_content_2{
    width: 320px;
height: 87px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 135% */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.article_title_1{
flex-direction: row-reverse;
display: flex;
flex-direction: column;
list-style: none; 
gap: 10px;
margin-top: 24px;
margin-left: 219px;
width: 101px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0%;
/* or 19px */
/* text-gray */
color: #CCCCCC;
order: 1;
flex-grow: 0;
text-align: right;
}



.a_yellow{
    position: relative;
    margin-top: 40px;
    width: 320px;
    height: 31.5px;
    left: 20px;
    top: 40px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    /* or 32px */
    text-align: right;  
    /* black-bg */
    color: #131313;
}

.b_yellow{
position: relative;
width: 320px;
height: 31.5px;
left: 20px;
top: 45px;
font-family: 'EB Garamond';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 115%;
/* or 32px */
/* black-bg */
color: #131313;
}
.c_yellow{
width: 320px;
height: 297px;
margin-top: 71.5px;
margin-left: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
/* or 135% */
/* black-bg */
color: #131313;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.article_title_yellow{
    margin-top: 32px;
    margin-left: 36px;
    width: 304px;
    height: 130px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 135% */
    
    
    /* black-bg */
    
    color: #131313;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;

}


.article_title_1_yellow{
    
    margin-top: 16px;
    margin-left: 36px;
    width: 304px;
    height: 130px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 135% */
    
    
    /* black-bg */
    
    color: #131313;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.article_title_2_yellow{
    margin-top: 62px;
    margin-left: 36px;
    width: 304px;
    height: 130px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 135% */
    
    
    /* black-bg */
    
    color: #131313;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.article_title_3_yellow{
    margin-top: 22px;
    margin-left: 36px;
    width: 304px;
    height: 130px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 135% */
    
    
    /* black-bg */
    
    color: #131313;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.article_title_4_yellow{
    margin-top: 112px;
    margin-left: 36px;
    width: 304px;
    height: 130px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 135% */
    
    
    /* black-bg */
    
    color: #131313;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

.neuverenost{
    font-weight: 700;
    list-style-type: style;; 

}

.strax{
    font-weight: 700;
    

}

.perfekceonizm{
    font-weight: 700;
  
}

.motivacia{
    font-weight: 700;
}

.nedostatok{
    font-weight: 700;
    

}

.dark_1{
    position: absolute;
width: 320px;
height: 32px;
left: 0px;
top: 0px;

font-family: 'EB Garamond';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 115%;
/* or 32px */

text-align: right;

color: #F5F5F5;

margin-top: -40px;
margin-left: 25px;
margin-right: 20px;
margin-bottom: 1440px;

}

.dark_2{
position: absolute;
width: 320px;
height: 32px;
left: 0px;
top: -10px;
font-family: 'EB Garamond';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 115%;
/* or 32px */
color: #F5F5F5;
margin-left: 20px;
margin-bottom: -45px;

}

.dark_3{
    width: 320px;
height: 135px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 135%;
/* or 27px */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin-top: -72px;
margin-bottom: 32px;
}

.theme_dark{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 360px;
height: 1749px;
background-color: black;
}

.theme_dark_2{
    width: 320px;
height: 135px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 135%;
/* or 27px */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin-top: 96px;
margin-left: 20px;
margin-right: 20px  ;

}

.polyarinov{
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 8px;

width: 319px;
height: 495px;

/* gray-bg */

background: #343434;
border-radius: 30px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin-top: 32px;
margin-bottom: 25px;

}


.alexandr_img{
    
width: 100px;
height: 100px;

background: url(image.png);
border-radius: 50px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.txt_1{
    width: 228px;
    height: 29px;
    
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 135%;
    /* or 30px */
    
    
    color: #F5F5F5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.txt_2{
    width: 279px;
height: 282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 135% */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.theme_ramka_yellow{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 8px;

width: 319px;
height: 368px;

/* yellow-bg */

background: #FEE42A;
border-radius: 30px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin-top: 32px;
}

.text_1{
    width: 279px;
height: 59px;

font-family: 'EB Garamond';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 135%;
/* or 30px */


/* black-bg */

color: #131313;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
margin-top: -35px;
}


.text_2{
    width: 279px;
height: 261px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 135% */


/* black-bg */

color: #131313;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-top: 8px;
}

.bunin{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 8px;
    width: 319px;
    height: 559px;
    /* gray-bg */
    background: #343434;
    border-radius: 30px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 32px;
    

}

.bunin_img{
    width: 100px;
height: 100px;

background: url(image.png);
border-radius: 208px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Ivan_Bunin{
    width: 92px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0%;
/* or 22px */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin-top: -30px;
}

.txt_1_bunin{
width: 233px;
height: 29px;

font-family: 'EB Garamond';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 415%;
/* or 30px */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.txt_2_bunin{
    
width: 279px;
height: 346px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 135% */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin-top: 33px;
}


.poloska_yellow{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px;

position: absolute;
width: 400px;
height: 62px;
left: 1px;
top: 1905px;

/* yellow-bg */

border-top: 1px solid #FEE42A;  
position: relative;
}

.LOGO_2{
    
width: 92px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 135%;
/* identical to box height, or 22px */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.LOGO_3{
    width: 19px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */


color: #F5F5F5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.LOGO_4{
    
width: 38px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */


color: #F5F5F5;


/* Inside auto layout */
margin-left: -135px;
flex: none;
order: 1;
flex-grow: 0;
}

.bg_color{
    margin-right: -2225px;
    width: 400px;
    height: 4380px;
    background-color: #000;
}


